In [1]:
import pandas as pd
import numpy as np
import json

import matplotlib.pyplot as plt
%matplotlib inline

In [160]:
kaggle_dataset = pd.read_csv("./train.csv")
kaggle_dataset_hindi = kaggle_dataset[kaggle_dataset['language']=='hindi']

In [161]:
kaggle_dataset_hindi = kaggle_dataset_hindi.drop(columns='language',axis=1)

In [162]:
kaggle_dataset_hindi.reset_index(inplace = True)

In [163]:
kaggle_dataset_hindi.head()

,index,id,context,question,answer_text,answer_start
0,368,416091aeb,विषाणु अकोशिकीय अतिसूक्ष्म जीव हैं जो केवल जीव...,सन १८८६ में किसने बताया कि तम्बाकू में मोजेक र...,एडोल्फ मेयर,935
1,369,9d274ae3c,फ्लोरीन एक रासायनिक तत्व है। यह आवर्त सारणी (p...,फ्लोरीन की परमाणु संख्या क्या है?,9,166
2,370,da7397c5e,सीऐटल (अंग्रेजी: Seattle) अमेरिका के वाशिंगटन ...,सीटल शहर कहाँ स्थित है?,अमेरिका के वाशिंगटन राज्य,26
3,371,661880e43,सूर्य अथवा सूरज सौरमंडल के केन्द्र में स्थित ए...,पृथ्वी को सूर्य की परिक्रमा करने में कितने दिन...,28 दिनों,2762
4,372,3e3a2bed4,"दिल्ली नगर निगम एक शहर व नगर निगम है, जो दिल्ल...","दिल्ली नगर निगम, दिल्ली के कितने जिलों में कार...",कुल नौ जिलों,51

In [164]:
kaggle_dataset_hindi = kaggle_dataset_hindi.drop(columns='index',axis=1)
kaggle_dataset_hindi.head()

,id,context,question,answer_text,answer_start
0,416091aeb,विषाणु अकोशिकीय अतिसूक्ष्म जीव हैं जो केवल जीव...,सन १८८६ में किसने बताया कि तम्बाकू में मोजेक र...,एडोल्फ मेयर,935
1,9d274ae3c,फ्लोरीन एक रासायनिक तत्व है। यह आवर्त सारणी (p...,फ्लोरीन की परमाणु संख्या क्या है?,9,166
2,da7397c5e,सीऐटल (अंग्रेजी: Seattle) अमेरिका के वाशिंगटन ...,सीटल शहर कहाँ स्थित है?,अमेरिका के वाशिंगटन राज्य,26
3,661880e43,सूर्य अथवा सूरज सौरमंडल के केन्द्र में स्थित ए...,पृथ्वी को सूर्य की परिक्रमा करने में कितने दिन...,28 दिनों,2762
4,3e3a2bed4,"दिल्ली नगर निगम एक शहर व नगर निगम है, जो दिल्ल...","दिल्ली नगर निगम, दिल्ली के कितने जिलों में कार...",कुल नौ जिलों,51

In [165]:
paragraphs = {}
hindi_val = {
      "context":"",
      "qas":[
        {
            "answers":[
                  {
                    "answer_start":"",
                    "text":""
                  }
          ],
          "id":"",
          "question":""
       }
     ]
}

In [166]:
for i,d in kaggle_dataset_hindi.iterrows():
  hindi_val["context"] = d.context
  hindi_val["qas"][0]["answers"][0]["answer_start"] = d.answer_start
  hindi_val["qas"][0]["answers"][0]["text"] = d.answer_text
  hindi_val["qas"][0]['id'] = d.id
  hindi_val["qas"][0]['question'] = d.question
  temp = hindi_val.copy()
  paragraphs[i] = temp

In [167]:
print(paragraphs[0:3])

TypeError: unhashable type: 'slice'

In [157]:
n_arr = list([paragraphs[d].copy() for d in range(len(kaggle_dataset_hindi))])

KeyError: 0

In [152]:
paragraphs = {
    "paragraphs": n_arr
}

In [155]:

hindi_val_dataframe = pd.DataFrame(paragraphs) 
hindi_val_dataframe.to_json("./train_val_hindi.json",orient="table",index=False)

In [156]:
hindi_val_dataframe

                                            paragraphs
0    {'context': 'विषाणु अकोशिकीय अतिसूक्ष्म जीव है...
1    {'context': 'फ्लोरीन एक रासायनिक तत्व है। यह आ...
2    {'context': 'सीऐटल (अंग्रेजी: Seattle) अमेरिका...
3    {'context': 'सूर्य अथवा सूरज सौरमंडल के केन्द्...
4    {'context': 'दिल्ली नगर निगम एक शहर व नगर निगम...
..                                                 ...
741  {'context': 'स्वामी निगमानन्द परमहंस (18 अगस्त...
742  {'context': 'भरत मुनि ने नाट्यशास्त्र नामक प्र...
743  {'context': 'अग्नि पंचम (अग्नि-५) भारत की अन्त...
744  {'context': 'जलाल उद्दीन मोहम्मद अकबर () (१५ अ...
745  {'context': 'अमेरिका में जन्मीं अभिनेत्री तथा ...

[746 rows x 1 columns]